[submodule "extern/Image-Processing"]
	path = extern/Image-Processing
	url = git@github.com:ARICKERT0003/Image-Processing.git
[submodule "extern/yaml-cpp"]
	path = extern/yaml-cpp
	url = git@github.com:jbeder/yaml-cpp.git
[submodule "extern/spdlog"]
	path = extern/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "tools/User-Interface"]
	path = tools/User-Interface
	url = git@github.com:ARICKERT0003/User-Interface.git
